# root: {
  width: 100%;
  height: 100%;
}
.themed {
  background-color: rgba(var(--backdrop), 1);
  color: rgba(var(--word), 1);
}
.themed.green {
  --backdrop: 0, 124, 96;
  --word: 255, 255, 255;
}

.themed.purple {
  --backdrop: 69, 100, 182;
  --word: 255, 255, 255;
}

.themed.pinky {
  --backdrop: 236, 225, 243;
  --word: 107, 77, 129;
}

.themed.dark {
  --backdrop: 40, 39, 42;
  --word: 15, 132, 136;
}
