# root: {
  width: 100%;
  height: 100%;
}

.themed.green {
  --backdrop: #007c60;
  --word: #fff;
}

.themed.purple {
  --backdrop: #4564b6;
  --word: #fff;
}

.themed.pinky {
  --backdrop: #ece1f3;
  --word: #6b4d81;
}

.themed.dark {
  --backdrop: #28272a;
  --word: #0f8488;
}
